.sslDiv {
    width: 90%;
    margin: auto;
    padding: 2%;
    height: 30vh;
    margin-top: 35vh;
}

.button_ {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonContainer input{
    width: 20%;
    margin-left: 2%;
}
.buttonContainer button{
    margin-left: 1%;
}